---
layout: default
---

<header class="header">
  <div class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </div>
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  
  <style>
    </style>
</header>


<main>
  <div class="intro">
    <h2>Product and Tech Consultancy for Startups</h2>
    <p>We work with start-up founders and investors to plan the product and tech.</p>
  </div><!-- .intro -->

  <div class="home-section who-we-are">

    <div class="group">
      <div class="col col--a">
        <h3 class="col__header">Product</h3>
        <ul class="features">
        	<li>Product feasibility; users, pricing, market and growth</li>
          <li>Set product vision and direction</li>
          <li>Define the user experience</li>
          <li>Develop a realistic business case</li>
          <li>Develop a product roadmap &amp; MVP</li>
        </ul>
        <img class="who-we-are__photo" src="./images/leech.png" />

        <h4 class="col__header">Joe Leech</h4>
        <p>Thirteen years working in product and UX across the world with clients like Disney, eBay, Marriott and Raspberry Pi. The last two years working on product strategy for start-ups in the UK and US.</p>
        <p>Author of the book Psychology for Designers. </p> 
        <p><a href="https://twitter.com/mrjoe">@mrjoe / Twitter</a> | <a href="https://www.linkedin.com/in/joeleech/">LinkedIn</a> | <a href="https://mrjoe.uk/">mrjoe.uk</a></p>
      </div><!-- .col -->

      <div class="col col--b">
        <h3 class="col__header">Tech</h3>
        <ul class="features">
          <li>Technical feasibility; software and hardware</li>
          <li>Identify and protect IP</li>
          <li>System architecture &amp; plan tech rollout</li>
          <li>Internal team planning</li>
          <li>Develop a product roadmap &amp; MVP</li>
        </ul>

        <img class="who-we-are__photo" src="./images/mckelvaney.png" />
        <h4 class="col__header">Michael McKelvaney</h4>
        <p>Ten years working in the technology sector with the last 4 orientated around startups. Work with clients like Made Open, Sparkol, Raspberry Pi.</p>
        <p>Co-inventor of the patented Crab time-lapse camera controller</p>
        <p><a href="https://twitter.com/mckelvaney">@mckelvaney / Twitter</a> | <a href="https://www.linkedin.com/in/michaelmckelvaney/">LinkedIn</a> | <a href="http://mckelvaney.co.uk/">mckelvaney.co.uk</a></p>

      </div><!-- .col -->
    </div>
  </div>

  <hr>

  <div class="home-section what-we-do">
    <p>Together we can develop a practical plan to meet user needs and make the right product and technical decisions at the right time.</p>

    <div class="group">
      <div class="col col--a">
        <h3 class="col__header">For startups</h3>
        <ul class="features">
          <li>Identify user and market needs</li>
          <li>Avoid challenging product pivots</li>
          <li>Plan for growth (both in terms of market and tech)</li>
          <li>Developing a realistic business case</li>
        </ul>
      </div><!-- .col -->

      <div class="col col--b">
        <h3 class="col__header">For investors</h3>
        <ul class="features">
          <li>Product and technical due diligence</li>
          <li>Develop a plan alongside founders to ensure you get the most from your investment</li>
          <li>Develop a tech and product roadmap</li>
        </ul>
      </div><!-- .col -->
    </div>
  </div>

  <hr>

  <div class="home-section">
    <h2>Get in touch</h2>
    <p>Initial consultation is, of course, free of charge. Drop us an email <a href="mailto:joe@mrjoe.uk">joe@mrjoe.uk</a> or <a href="mailto:michael@mckelvaney.co.uk">michael@mckelvaney.co.uk</a> and we can chat.</p>
    <p>Investors: if you&rsquo;d like a sneak peek at who we are working with drop us a line.</p>
  </div>

  <hr>

  <div class="home-section">
    <h2>We work with</h2>
    <ul class="client-list">
      <li><img src="./images/Travelopo.png" alt="travelopo"/></li>
      <li><img src="./images/Animor.png" alt="Animor"/></li>
      <li><img src="./images/Screentime.png" alt="Screentime Labs"/></li>
      <li><img src="./images/Neighbourly.png" alt="Neighbourly" /></li>
      <li><img src="./images/Efifling.png" alt="eFiling"/></li>
      <li><img src="./images/FundingExchange.png" alt="Funding Exchange"/></li>
      <li><img src="./images/Harbour.png" alt="harbour"/></li>
      <li><img src="./images/SmartBusines.png" Alt="smart business" /></li>
      <li><img src="./images/Sprintr.png" alt="Sprintr"/></li>
      <li><img src="./images/StemX.png" alt="StemX"/></li>

    </ul>
    <!--
     <img src="./images/Raspberry.png" alt="Raspberry Pi" class="rasp-logo clearfix"/>
     -->
  </div>
</main>

<div class="list clearfix">
{% if site.posts.size == 0 %}
<!-- No post found -->
{% else %}
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
  <div class="list-post">
    {% if post.link %}
    <a href="{{ post.link }}">
    {% else %}
    <a href="{{ post.url | prepend: site.baseurl }}">
    {% endif %}
      <div class="list-post-date">
        <time>{{ post.date | date_to_string }}</time>
      </div>
      <div class="list-post-title">
        {{ post.title }}
      </div>
      {% if post.description %}
      <div class="list-post-desc">
        {{ post.description }}
      </div>
      {% endif %}
    </a>


  </div>
{% endfor %}
  <!-- Pagination links -->
  <div class="list-pagination">
    <span class="list-pagination-previous">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="previous">
          &#xE000; previous
        </a>
      {% else %}

      {% endif %}
    </span>

    <span class="list-pagination-next">
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="next">
          next &#xE001;
        </a>
      {% else %}

      {% endif %}
    </span>

  </div>
{% endif %}
</div>
