body {
  background: #EEEEEE;
}

content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

content h2 {
  text-align: center;
  color: red;
}

.mdl-cell.mdl-cell--12-col.check {
  margin: 0px auto 20px auto;
  text-align: center;
}

label.mdl-checkbox.mdl-js-checkbox.mdl-js-ripple-effect {
  width:200px;
  display: inline-block;
}

.mdl-data-table th {
  background: #E53935;
  color: white;
}

.mdl-data-table {
  margin:0 auto;
  width: 40%;
}

th:hover {
  cursor: pointer;
}

.mdl-data-table tbody tr:hover {
  background: #42A5F5;
  color: white;
  cursor: pointer;
}