* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

.content-container {
  max-width: 38rem;
  padding: 2rem 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  @media (min-width: 38rem){
    padding: 5rem 1rem;
  }
}

.header {

  &-title {
    font-weight: 300;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    span {
      color: #ddd;
    }

  }

  &-title--small {
    margin-bottom: .75rem;
    font-size: .75rem;
    font-weight: 600;
    text-transform: uppercase;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }
  }

  .header-nav {
    margin-bottom: 2rem;

    a {
      color: #aaa;
      font-weight: 300;
      text-transform: lowercase;
      -webkit-transition: all .2s ease;
         -moz-transition: all .2s ease;
              transition: all .2s ease;

      &:hover,
      &:focus {
        color: #333;
        text-decoration: none;
      }

      + a {
        margin-left: .25rem;
      }
    }
  }

}

.page {
  &-title {
    margin-bottom: 2rem;
  }
}

.post {
  &-title {
    margin-bottom: .25rem;
  }
  &-date {
    margin-bottom: .25rem;
    font-size: .75rem;
    text-transform: uppercase;
  }
  &-tag {
    .tag {
      display: inline-block;
      margin: 4px;
      margin-left: 0px;
      color: #fff;
      background-color: lighten($base-color,50);
      text-decoration: none;
    }
    li {
      font-size: .75rem;
      display: inline;
      list-style-type: none;
      text-transform: lowercase
    }
    span {
      float: left;
      padding: 2px 6px;
    }
  margin-bottom: .3rem;
  }
  &-share {
    margin-bottom: 1rem;
  }
}

.list {
  &-post {
    padding-top: 1rem;
    padding-bottom: 2rem;

    a {
      color: #333;

      &:hover,
      &:focus {
        text-decoration: none;
      }
    }

    &-title {
      margin-bottom: .25rem;
      font-size : 1.6rem;
      font-weight: 600;
    }

    &-date {
      color: #aaa;
      font-size: .75rem;
      text-transform: uppercase;
    }

    &-desc {
      margin-bottom: .25rem;
      font-size :1rem;
    }
  }
}

.tag {
  &-index li {
    font-size: .75rem;
    display: inline;
    list-style-type: none;
    text-transform: lowercase;
    a {
      display: inline-block;
      margin: 4px;
      color: #fff;
      background-color: lighten($base-color,50);
      span {
        float: left;
        padding: 3px 3px;
      }
      .count {
        background-color: lighten($base-color,40);
      }
      &:hover {
        background-color: lighten($base-color,40);
      }
    }
  }
}

.archive {
  &-list {
    &-post {

      a {
        color: #333;

        &:hover,
        &:focus {
          text-decoration: none;
        }
      }

      &-title {
        font-size : 1.2rem;
        font-weight: 600;
      }

      &-date {
        color: #aaa;
        font-size: .75rem;
        text-transform: uppercase;
      }
    }
  }
}



.footer {
  text-align: center;
  font-size: .75rem;

  &-link {
    margin: .2rem;

    a {
      color: #515151;
      margin: 4px;
    }
  }
}
